.space {
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenedor {
    min-height: calc(100vh - 180px - 180px);
}

textarea {
    min-height: calc(100vh - 192px - 190px - 100px);
    width: 90%;
}

p {
    margin: auto;
    width: 80%;
}